{{ $authors := .Site.Data.author }}
  <div class="row">
    <div class="col-sm-12 centering">
      <span style="font-size:1.8em" class="antonio txt-blue-major">OUR LATEST ARTICLES</span>
    </div>
  </div>
  {{ range first 5 (where .Site.Pages ".Params.authors" "!=" nil) }}
    {{ $author_name := index .Params.authors 0 }}
    {{ $author := index $authors $author_name }}
    <div class="row">
        <a href="{{ .Permalink }}">
      <div class="col-sm-3">
        <div class="circle-avatar" style="background-image:url({{ or (or .Params.thumbnail .Params.image) $author.image }})"></div>
      </div>
      <div class="col-sm-9">
          <h6>{{ .Title }}</h6>
          <p style="line-height:1"><small>{{ .Description }}</small></p>
      </div>
        </a>
    </div>
  {{ end }}
