*.old
*.sw?
public/
*.log
.DS_Store

# various names we've used to build the site locally
_site/
built/

# generated things put into static/ (a Hugo special dir)
static/json
content/contributors.md

# used by plenv to set local perl version
.perl-version

# hugo meta files
.hugo_build.lock

target/
