@font-face {
  font-family: 'antonio';
  src: url('fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/antonio-bold-webfont.woff') format('woff'),
       url('fonts/antonio-bold-webfont.ttf') format('truetype'),
       url('fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansreg';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-regular-webfont.woff') format('woff'),
       url('fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
div#toplinks {
  width: 100%;
  margin: 5% 0;
  background-color: #d9f2f9;
  font-family:opensansreg;
  color: #292B26;
  text-align:center;
  padding: 0 0 5% 0;
  font-size: 0.85em;
}

div#toplinks .toplinksheader {
  background-color: #c7e9f3;
  padding: 5%;
  text-align: center;
  color: #22a3ca;
  font-family:antonio;
  font-size: 1.8em;

}
div#toplinks ul {
  padding: 0;
}
div#toplinks ul li {
  list-style-type: none;
  padding: 5% 5% 0 5%;
  font-family:opensansreg;
}
div#toplinks ul li a {
  color: #292B26;
  font-weight:700;
  font-family:opensansreg;
  text-decoration:none;
}
div#toplinks ul li a:visited {
  color: #292B26;
}
