<article>
<div class="row blog-post">
  <div class="col-sm-2">
      {{ $author_name := index .Params.authors 0 | urlize }}
      {{ $author := index .Site.Data.author $author_name }}
      <div class="circle-avatar" style="background-image:url({{ or .Params.image $author.image }})"></div>
  </div>
  <div class="col-sm-9">
    <a href="{{ .Permalink }}" rel="bookmark" title="Link to {{ .Title }}">
      <h2 class="blog-post-title">{{ .Title }}</h2>
    </a>
    <p>by <a href="/authors/{{ index .Params.authors 0 | urlize }}">{{ index .Params.authors 0 }}</a></p>
    <div class="tags">
      <div class="category"><a href="/categories/{{ .Params.categories }}">{{ .Params.categories }}</a></div>
      {{ range .Params.tags}}
      <div class="tag"><a href="/tags/{{ . }}">{{ . }}</a></div>
      {{ end }}
    </div>
    <p>{{ .Description }}</p>
    <h5><a class="moretag" href="{{ .Permalink }}">Read it</a></h5>
  </div>
</div>
</article>
