{{ partial "header.html" . }}
{{ $authors := .Site.Data.author }}
  <section id="content" role="main">
    <section class="entry-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <article>
              <h1 class="blog-post-title">{{ .Title }}</h1>
              <p class="blog-post-meta">{{ .Date.Format "Jan 2, 2006" }} by
              {{ $author_count := add (len .Params.authors) -1 }}
              {{ range $index, $author_name := .Params.authors }}
                {{ $author := index $authors ($author_name | urlize) }}
                <a href="#author-bio-{{ $author_name | urlize }}">{{ $author_name }}</a>{{ if eq $index (add $author_count -1) }} and {{ else if lt $index $author_count }}, {{ end }}
              {{ end }}
              </p>
              <img alt="" src="{{ .Params.image }}"/>
                {{ .Content }}
              </article>
              <p><strong>Tags</strong></p>
              <div class="tags">
                <div class="category"><a href="/categories/{{ .Params.categories }}">{{ .Params.categories }}</a></div>
                {{ range .Params.tags}}
                  <div class="tag"><a href="/tags/{{ . }}">{{ . }}</a></div>
                {{ end }}
              </div>
            </div>
            {{ range .Params.authors }}
              {{ $author_name := . | urlize }}
              {{ $author := index $authors $author_name }}
              {{ partial "author.html" $author }}
            {{ end }}
          </div>
          <div class="col-md-3">
            {{ partial "latest-sidebar.html" . }}
          </div>
        </div>
      </div>
    </section>
  </section>
<script>
/* add bootstrap css classes to tables */
var tables, i;
tables = document.getElementsByTagName('table');
for (i=0;i<tables.length;i++) {
  tables[i].className = 'table table-striped';
}
</script>
{{ partial "footer.html" . }}
