{{ partial "header.html" . }}
<section id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <a href="https://perl.com/article/support-perl-com-and-get-a-free-t-shirt-with-hacktoberfest/"><img style="width:100%;margin-bottom:20px;margin-top:20px" src="/images/ads/hacktoberfest.png" alt="Hacktoberfest - support Perl.com and Open Source" /></a>
        </div>
        {{ range $index, $page := .Paginator.Pages }}
          {{ if ne $page.Type "about" }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
        {{ partial "pagination.html" .Paginator }}
      </div>
      <div class="col-sm-3">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}

