{{ partial "header.html" . }}
<section id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        {{ $pages := where site.RegularPages "Type" "article" }}
        {{ if not .IsHome }}
          {{ $pages = where .Pages "Type" "article" }}
        {{ end }}
        {{ $paginator := .Paginate $pages }}
        {{ range $paginator.Pages }}
          {{ .Render "li" }}
        {{ end }}
        {{ partial "pagination.html" $paginator }}
      </div>
      <div class="col-sm-3">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
