{{ partial "header.html" . }}
<section id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
      <div class="row">
        <a href="https://www.perlconference.us/tpc-2018-slc"><img style="width:100%;margin-bottom:20px;margin-top:20px" src="/images/ads/tpcislc2018.png" alt="The Perl Conference Salt Lake City 2018 Banner" /></a>
      </div>
        {{ range $index, $page := .Paginator.Pages }}
          {{ if ne $page.Type "about" }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
        {{ partial "pagination.html" .Paginator }}
      </div>
      <div class="col-sm-3">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}

