{{ partial "header.html" . }}

<section id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2 id="title">{{ .Title }}</h2>
        <ul>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
          <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> {{ $value.Count }}</li>
        {{ end }}
        </ul>
      </div>
      <div class="col-sm-3">
        {{ partial "latest-sidebar.html" . }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
