{{ partial "header.html" . }}
  <section id="content" role="main">
    <section class="entry-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <article>
              <h1 class="blog-post-title">{{ .Title }}</h1>
                {{ .Content }}
              </article>
            </div>
          </div>
          <div class="col-md-3">
            {{ partial "latest-sidebar.html" . }}
          </div>
        </div>
      </div>
    </section>
  </section>
{{ partial "footer.html" . }}
