<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
  <title>{{ if .Title }} {{ .Title }} {{ else }} {{ .Site.Title }} {{ end }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.Description}}"/>
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/favicon.ico">
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>
<body>
<!-- NAVBAR
================================================== -->
<div class="container-fluid full-wdith antonio">
 <div class="row">
  <div class="navbar-inverse" style="border-radius:none !important" role="navigation">
    <div class="container-fluid">
      <ul id="follow-buttons" class="nav navbar-nav pull-right follow">
          <li>FOLLOW US:</li>
          <li><a href="https://twitter.com/intent/follow?screen_name=perlfoundation">
              <img src="/images/header/twitter_20.png" alt="twitter"></a><li>
          <li><a href="/index.xml" />
              <img src="/images/header/rss_20.png" alt="rss"></a></li>
          <li><a href="https://github.com/dnmfarrell/perltricks-static/" />
              <img src="/images/header/github_light_20.png" alt="GH"></a></li>
      </ul>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="/">
            <h1>Perl.com</h1>
          </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">
              <div class="circle">
                  <span class="glyphicon glyphicon-home txt-perltricks-blue" aria-hidden="true"></span>
              </div>
                  &nbsp;&nbsp;HOME</a>
          </li>
          <li><a href="/authors">
              <div class="circle">
                  <span class="glyphicon glyphicon-user txt-perltricks-blue" aria-hidden="true"></span>
              </div>
                  &nbsp;&nbsp;AUTHORS</a>
          </li>
          <li><a href="/categories">
              <div class="circle">
                  <span class="glyphicon glyphicon-folder-open txt-perltricks-blue" aria-hidden="true"></span>
              </div>
                  &nbsp;&nbsp;CATEGORIES</a>
          </li>
          <li><a href="/tags">
              <div class="circle">
                <span class="txt-perltricks-blue" aria-hidden="true"><strong>#</strong></span>
              </div>
                  &nbsp;&nbsp;TAGS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </div>
</div>
