<div class="latest-sidebar">
{{ $authors := .Site.Data.author }}
  <div class="row">
    <div class="col-sm-12 centering">
      <span style="font-size:1.8em" class="antonio txt-perltricks-blue">OUR LATEST ARTICLES</span>
    </div>
  </div>
  {{ range first 5 .Site.Pages }}
    {{ $author_name := index .Params.authors 0 | urlize }}
    {{ $author := index $authors $author_name }}
    <div class="row">
        <a href="{{ .Permalink }}">
      <div class="col-sm-3">
        <div class="circle-avatar" style="background-image:url({{or .Params.image $author.image }})"></div>
      </div>
      <div class="col-sm-9">
          <h6>{{ .Title }}</h6>
          <p style="line-height:1"><small>{{ .Description }}</small></p>
      </div>
        </a>
    </div>
  {{ end }}
</div>
{{ partial "sidebar.html" . }}
