{{ partial "header.html" . }}
<section id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h1>404</h1>
        <p>Oh no! We couldn't find that page. Perhaps try using our search feature to find the correct link.</p>
        <br/>
        <div class="centering">
          <img src="/images/site/Perl_Camel.svg" alt="Perl Dromedary Camel" height="500px" width="452px" />
        </div>
      </div>
      <div class="col-sm-3">
        {{ partial "latest-sidebar.html" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
