@font-face {
  font-family: 'glyph';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('/fonts/glyphicons-halflings-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'antonio';
  src: url('/fonts/antonio-bold-webfont.eot');
  src: url('/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/antonio-bold-webfont.woff') format('woff'),
       url('/fonts/antonio-bold-webfont.ttf') format('truetype'),
       url('/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/fonts/opensans-bold-webfont.eot');
  src: url('/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/opensans-bold-webfont.woff') format('woff'),
       url('/fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansReg';
  src: url('/fonts/opensans-regular-webfont.eot');
  src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/opensans-regular-webfont.woff') format('woff'),
       url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header-logo {
  color:#eee;
  letter-spacing:-3px;
  font-weight:400;
  font-family:OpenSansBold;
  font-size:50px;
  padding-right:10px;
  padding-top:6px;
}
body {
  padding: 0;
  margin: 0;
  font-family:OpenSansReg;
  color: #292B26;
}
h1,h2,h3,h4,h5,h6 {
  color: #292B26;
  font-family: OpenSansBold;
  font-weight: 400;
}
h5 {
  color: #183a58;
}
a, a:hover {
  text-decoration: none;
  outline: 0;
  color: #2c9bcc;
}
p {
  color: #292B26;
}
article {
  font-size: 1.2em;
}
/* make h2 appear like h3 for nicer markdown */
article.fulltext h2 {
  font-size: 24px;
}
/* useful modifiers */
.bg-blue-major {
  background-color: #183a58;
}
.txt-blue-major {
  color: #183a58;
}
.push {
  height:50px;
  width: 100%;
}
.circle{
  border-radius:50%;
  text-align:center;
  background:#fff;
  height: 40px;
  width: 40px;
  line-height: 45px;
  display: inline-block;
}
.centering {
  text-align: center;
  width: 100%;
}
.antonio {
  font-family: antonio;
}
/* tag styling */
.tags {
  float: left;
  width: 100%;
  margin: 0 0 2%;
}
.tag {
  display: inline-block;
  margin: 2px 3px;
  padding: 1px 4px;
  background-color: rgb(214, 214,  214);
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.category {
  display: inline-block;
  margin: 2px 3px;
  padding: 1px 4px;
  background-color: #6acdb2;
  border-color: #6acdb2;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.category a {
  color: #fff;
}
/* squares, crops and circular borders an img */
div.circle-avatar{
  margin-top:15%;
  /* make it responsive */
  max-width: 100%;
  width:100%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:100%;
  /* make it a circle */
  border-radius:50%;
  /* Centering on image`s center*/
  background-position: center;
  background-repeat: no-repeat;
  /* it makes the clue thing, takes smaller dimention to fill div */
  background-size: cover;
}
/* footer */
.footer {
  width: 100%;
  background-color: rgb(36, 36, 36);
  color: rgb(200, 200, 200);
  font-size: .8em;
}
.footer {
    background-color: rgb(36, 36, 36);
    color: rgb(95, 95, 95);
    font-size: .8em;
}
.footer a {
    font-weight: bold;
    color: rgb(95, 95, 95);
}
.footer p {
    font-weight: bold;
    color: rgb(95, 95, 95);
}
.footer ul {
    padding: 0;
    list-style-type: none;
    line-height: 1.8em;
}
.footer .container {
    padding: 20px;
}
.footer .container h5 {
    color: rgb(176, 176, 176);
}
.footer hr {
  margin:0;
}
/* navbar */
ul.nav.navbar-nav {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.navbar-inverse {
  background-color: #183a58;
  border-bottom-color:#183a58;
  color: #fff;
}
.navbar-collapse {
  background-color: #183a58;
  border-bottom-color:#183a58;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 1.4em;
}

.navbar-nav > li > .search {
  margin: 0;
  padding: 15px;
}

.navbar-nav > li > .search > input {
  width: 206px;
  color: #183a58;
  padding: 8px 6px 4px 6px;
  border: 0;
  font-size: 1.4em;
}

.navbar-nav > li > .search > input::placeholder {
  color: #183a58;
  line-height: 1.6em;
}

ul.nav.navbar-nav.pull-right.follow {
  height: 20px;
  width: 170px;
}
ul.nav.navbar-nav.pull-right.follow > li > a{
  padding: 0;
  padding-left: 5px;
}


/* sidebar */
.latest-sidebar {
  border: 1px solid #ddd;
  padding: 5%;
  margin-top:20px;
  margin-bottom:20px;
}

/* Blog posts */
article img {
  max-width:100%;
  display: block;
  margin: 0 auto;
}

article > img {
  margin-bottom: 5%;
}

.callout_box {
  background-color: rgb(199, 233, 242);
  border: 1px solid rgb(189, 227, 238);
  width: 100%;
  margin-bottom: 1.5em;
  padding: 10px;
}
.callout_box p {
  margin-bottom: 5px;
}
.callout_box a {
  color: #292B26;
  text-decoration: underline;
}
/* prettify */
pre { background-color: #333; color:#fff }
code.language-prettyprint .str { color: #ffa0a0 } /* string  - pink */
code.language-prettyprint .kwd { color: #f0e68c; font-weight: bold }
code.language-prettyprint .com { color: #87ceeb } /* comment - skyblue */
code.language-prettyprint .typ { color: #98fb98 } /* type    - lightgreen */
code.language-prettyprint .lit { color: #cd5c5c } /* literal - darkred */
code.language-prettyprint .pun { color: #fff }    /* punctuation */
code.language-prettyprint .pln { color: #fff }    /* plaintext */
code.language-prettyprint .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
code.language-prettyprint .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
code.language-prettyprint .atv { color: #ffa0a0 } /* attribute value - pink */
code.language-prettyprint .dec { color: #98fb98 } /* decimal         - lightgreen */


/* stop the nav from breaking into 2 lines */
@media (max-width: 960px) {
  .follow,#search {
    display: none;
  }
}
@media (max-width: 767px) {
  #search {
    display: block;
  }
}

/* toplinks widget styling */
div#toplinks {
  width: 100%;
  background-color: #eee;
  font-family:OpenSansBold;
  color: #292B26;
  text-align:center;
  padding: 0 0 5% 0;
  font-size: 0.85em;
}

div#toplinks .toplinksheader {
  background-color: #ddd;
  padding: 5%;
  text-align: center;
  color: #183a58;
  font-family:antonio;
  font-size: 1.8em;

}
div#toplinks ul {
  padding: 0;
}
div#toplinks ul li {
  list-style-type: none;
  padding: 5% 5% 0 5%;
  font-family:OpenSansBold;
}
div#toplinks ul li a {
  color: #292B26;
  font-weight:700;
  font-family:OpenSansBold;
  text-decoration:none;
}
div#toplinks ul li a:visited {
  color: #292B26;
}
