/* This is the StyleCatcher theme addition. Do not remove this block. */
@import url(http://com.perl.org/mt-static/themes-base/blog.css);
@import url(http://com.perl.org/mt-static/themes/minimalist-red/screen.css);
/* end StyleCatcher imports */

a {
    color: #004065; 
}

#aheader{
    background: #000000;
    border-color: #000000;
}

#header { 
    border-top-width: 0px;
    background: #255786 url(/i/aqua-header.gif) repeat-x bottom right; 
}

#footer { 
    background-color: #0D1F30;
}


.widget-content-what-is-perl{
    font-size: 14px;
    font-weight: bold;
}

#top_advert{
    display: block;
    height: 60px
    width: 500px;
    float: right;
    margin-right: -60px;
    margin-top: -15px;
}

#afooter{
    background-color: #000000;
}   

