{{ partial "header.html" . }}
{{ $authors := .Site.Data.author }}
<section id="main">
  <div>
    <div class="container blog-post">
    <h2 id="title">{{ .Title }}</h2>
    <div class="row">
      <div class="col-sm-9">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
          {{ $author_name := index $value.Name | urlize }}
          {{ $author := index $authors $author_name }}
          {{ partial "author.html" $author }}
        {{ end }}
      </div>
      <div class="col-sm-3">
        {{ partial "latest-sidebar.html" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
