{{/* only articles have authors */}}
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@PerlFoundation">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ or .Description .Site.Params.description }}">
<meta property="og:site name" content="Perl.com" />
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-01T01:01:01Z" }}" />
{{- if .Params.authors }}
{{- $author_name := index .Params.authors 0 }}
{{- $author := index .Site.Data.author $author_name }}
<meta property="og:image" content="{{ strings.TrimRight "/" .Site.BaseURL }}{{ or .Params.image $author.image }}" />
{{- else }}
<meta property="og:image" content="{{ strings.TrimRight "/" .Site.BaseURL }}{{ or .Params.image "/images/site/perl-onion.png"  }}" />
{{- end }}
{{- range $tag := .Params.tags }}
<meta property="og:article:tag" content="{{ $tag }}" />
{{- end }}
